@model tp_integrador.Models.DispositivoGenerico
@{
	ViewBag.Title = "Alta Dispositivo";
}

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="~/Content/dashboard.css" rel="stylesheet" />

<main role="main" class="container" style="float:right;height:calc(100vh - 60px); overflow-y:auto; ">
	<div class="container-fluid">
		<div class="row">

			<!-- SIDEBAR -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">

					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="@Url.Action("ConsumoHogar", "Home")" class="nav-link">
								<span data-feather="home"></span>
								Consumo Hogares
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("AltaDispositivo", "Home")" class="nav-link active">
								<span data-feather="monitor"></span>
								Alta Dispositivos <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("JsonImport", "Home")" class="nav-link">
								<span data-feather="user-plus"></span>
								Alta de Usuarios
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("CargarTransformadores", "Home")" class="nav-link">
								<span data-feather="file"></span>
								Cargar Archivo de Transformadores
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("ConsumoZonas", "Home")" class="nav-link">
								<span data-feather="file"></span>
								Consumos Por Zona
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("DatosAdministrador", "Home")" class="nav-link">
								<span data-feather="edit"></span>
								Mis Datos
							</a>
						</li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Reportes</span>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a href="@Url.Action("ReportesPorCliente", "Home")" class="nav-link">
								<span data-feather="file-text"></span>
								- Reportes por cliente -
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("ReportePorTransformador", "Home")">
								<span data-feather="file-text"></span>
								- Reporte por transformador -
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("Reportes", "Home")">
								<span data-feather="file-text"></span>
								- Reporte Inteligente vs Estandar -
							</a>
						</li>
					</ul>

				</div>
			</nav>
			<!-- Fin Sidebar -->
			
			<div class="container" style="margin-top:10px; overflow:auto;">

				<div class="container" style="width:600px;">
					<div class="card-deck mb-3 text-center">

						<!-- Alta Admin -->
						<div class="card mb-4 shadow-sm" style="max-width:600px;">
							<div class="card-header">
								<h4 class="mb3">Nuevo Dispositivo Generico</h4>
							</div>
							<div class="card-body">
								<div class="file-field">

									@using (Html.BeginForm("AltaDispositivo","Home", FormMethod.Post))
									{
										@Html.AntiForgeryToken()

										<div class="form-horizontal">

											@Html.ValidationSummary(true, "", new { @class = "text-danger" })

											@Html.HiddenFor(model => model.ID)
											&nbsp;
											<div>
												@Html.EditorFor(model => model.Dispositivo, new { htmlAttributes = new { @class = "form-control", placeholder = "Tipo Dispositivo", required = true } })
												@Html.ValidationMessageFor(model => model.Dispositivo, "", new { @class = "text-danger" })
											</div>
											&nbsp;
											<div>
												@Html.EditorFor(model => model.Concreto, new { htmlAttributes = new { @class = "form-control", placeholder = "Modelo Dispositivo", required = true } })
												@Html.ValidationMessageFor(model => model.Concreto, "", new { @class = "text-danger" })
											</div>
											&nbsp;
											<div>
												@Html.TextBoxFor(model => model.Consumo, new { @class = "form-control", placeholder = "Consumo", @id = "consumo", required = true })
												@Html.ValidationMessageFor(model => model.Consumo, "", new { @class = "text-danger" })
											</div>									
											&nbsp;
											<div class="form-group">
												@Html.CheckBoxFor(model => model.Inteligente, new { @class = "form-check-input" })
												<label class="form-check-label">Es Inteligente</label>
											</div>
											&nbsp;
											<div>
												@Html.CheckBoxFor(model => model.Bajoconsumo, new { @class = "form-check-input" })
												<label class="form-check-label">Es de Bajo Consumo</label>
											</div>									
											<hr />
											<div class="container" style="width:200px;">
												<div>
													<input type="submit" value="Crear" class="btn btn-lg btn-block btn-primary" style="background-color:crimson" />
												</div>
											</div>
										</div>

									}

								</div>
							</div>
						</div>

					</div>
				</div>

				@if (TempData["Mensaje"] != null)
				{
					<div class="container" style="width:700px;">
						<div class="alert @TempData["MsgState"]" role="alert">
							<strong>@TempData["Alerta"]</strong> @TempData["Mensaje"]
						</div>
					</div>
				}

			</div>

		</div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="~/Scripts/popper.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons"></script>
	<script>
		feather.replace()
	</script>

	<script>
		$(document).ready(function () {
			$("#consumo").keydown(function (e) {
				// Allow: backspace, delete, tab, escape, enter and .
				if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
					// Allow: Ctrl+A
					(e.keyCode == 65 && e.ctrlKey === true) ||
					// Allow: home, end, left, right
					(e.keyCode >= 35 && e.keyCode <= 39)) {
					// let it happen, don't do anything
					return;
				}
				// Ensure that it is a number and stop the keypress
				if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
					e.preventDefault();
				}
			});			
		});
	</script>

</main>

