@model tp_integrador.Models.Cliente
@{
	ViewBag.Title = "ConsultaConsumoHogar";
}

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="~/Content/dashboard.css" rel="stylesheet" />

<main role="main" class="container" style="float:right;height:calc(100vh - 60px); overflow-y:auto; ">
	<div class="container-fluid">
		<div class="row">

			<!-- SIDEBAR -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">

					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("ConsumoHogar", "Home")">
								<span data-feather="home"></span>
								Consumo Hogares
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("AltaDispositivo", "Home")">
								<span data-feather="monitor"></span>
								Alta Dispositivos
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("JsonImport", "Home")" class="nav-link active">
								<span data-feather="user-plus"></span>
								Alta de Usuarios <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("CargarTransformadores", "Home")" class="nav-link">
								<span data-feather="file"></span>
								Cargar Archivo de Transformadores
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("ConsumoZonas", "Home")" class="nav-link">
								<span data-feather="file"></span>
								Consumos Por Zona
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("DatosAdministrador", "Home")" class="nav-link">
								<span data-feather="edit"></span>
								Mis Datos
							</a>
						</li>
					</ul>

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
						<span>Reportes</span>
					</h6>
					<ul class="nav flex-column mb-2">
						<li class="nav-item">
							<a href="@Url.Action("ReportesPorCliente", "Home")" class="nav-link">
								<span data-feather="file-text"></span>
								- Reportes por cliente -
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("ReportePorTransformador", "Home")">
								<span data-feather="file-text"></span>
								- Reporte por transformador -
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("Reportes", "Home")">
								<span data-feather="file-text"></span>
								- Reporte Inteligente vs Estandar -
							</a>
						</li>
					</ul>

				</div>
			</nav>
			<!-- Fin Sidebar -->

			<div class="container" style="overflow:auto;">

				<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
					<h1 class="display-4">Cliente : @Html.DisplayFor(model => model.usuario)</h1>
				</div>

				<hr />
				<div class="container" style="width:660px; margin-top:40px;">
					<div class="card-deck mb-3 text-center">

						<!-- ULTIMAS MEDICIONES -->
						<div class="container" style="width:300px;">
							<!-- CONSUMO ACTUAL -->
							<div class="card mb-4 shadow-sm" style="max-width:300px; text-align:center; height:335px;">
								<div class="card-header">
									<h4 class="my-0 font-weight-normal">Consumo Actual</h4>
								</div>
								@{var consumoactual = Model.ConsumoActual();}
								<div class="card-body">
									<h1 class="card-title pricing-card-title">@consumoactual<small class="text-muted">kw/h</small></h1>
									<ul class="list-unstyled mt-3 mb-4">
										<li>De sus Dispositivos Inteligentes</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>+ <b style="font-size:large">@Model.ConsumoEstandarDiario()</b>kw.</li>
										<li>De sus Dispositivos Estandar (Por dia)</li>
									</ul>
								</div>
							</div>
						</div>


						<!-- CONSUMO DEL PERIODO -->
						<div class="container" style="width:330px;">
							@{var periododata = Model.ConsumoDelPeriodoActual();}
							<!-- CONSUMO PERIODO -->
							<div class="card mb-4 shadow-sm" style="max-width:300px; text-align:center; height:335px;">
								<div class="card-header">
									<h4 class="my-0 font-weight-normal">Consumidos</h4>
								</div>
								<div class="card-body" ">
									<h1 class="card-title pricing-card-title"><span id="number">@String.Format("{0:0.0000}", periododata.Consumo)</span><small class="text-muted">kw</small></h1>
									<ul class="list-unstyled mt-3 mb-4">
										<li>Desde el: @periododata.FechaInicio</li>
										<li>Hasta el: @periododata.FechaFin</li>
										<li>De sus Dispositivos Inteligentes</li>
										<li>&nbsp;</li>
										<li>+ <b style="font-size:large">@(Model.ConsumoEstandarDiario() * periododata.TotalDias())</b>kw.</li>
										<li>De sus Dispositivos Estandar (Por periodo)</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>


				<hr />
				<div class="row">
					<div class="col-sm-3" style="width:100px;">@Html.ActionLink("Volver", "ConsumoHogar", null, new { @class = "btn btn-lg btn-block btn-primary col" })</div>
				</div>

			</div>

		</div>
	</div>


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="~/Scripts/popper.min.js"></script>

</main>


