@model tp_integrador.Models.Usuarios
@{
    ViewBag.Title = "Login";
}



@*   @if (Request.IsAuthenticated) *@
@if (Model.IsAuthenticated())
{

    {
        <div class="jumbotron">
            <p><h3>Aplicaciones</h3></p>

            @Html.ActionLink("Cantidad de meses", "Listar", "Home", "/Home/listar", new { @class = "btn btn-primary btn-lg" })
        
            @Html.ActionLink("Importar desde json", "JsonImport", "Home", "/Home/JsonImport", new { @class = "btn btn-primary btn-lg" })
        </div>

    }
}
else


{

    {
        <div class="jumbotron">
            <p><h3>Los datos ingresados son incorrectos.</h3></p>

            @Html.ActionLink("Iniciar secion", "Listar", "Home", "/Home/listar", new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Recuperar contraseña", "Listar", "Home", "/Home/listar", new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Registrarse", "Listar", "Home", "/Home/listar", new { @class = "btn btn-primary btn-lg" })
        </div>
    }
}