
@{
    ViewBag.Title = "Nuevo Cliente";
}

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="~/Content/dashboard.css" rel="stylesheet" />

<main role="main" class="container" style="float:right;height:calc(100vh - 60px); overflow-y:auto; ">
    <div class="container-fluid">
        <div class="row">

            <!-- SIDEBAR -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="home"></span>
                                Consumo Hogares
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="monitor"></span>
                                Alta Dispositivos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("JsonImport", "Home")" class="nav-link active">
                                <span data-feather="user-plus"></span>
                                Alta de Usuarios <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("CargarTransformadores", "Home")" class="nav-link">
                                <span data-feather="file"></span>
                                Cargar Archivo de Transformadores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Listar", "Home")" class="nav-link">
                                <span data-feather="edit"></span>
                                Mis Datos
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Reportes</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a href="@Url.Action("ReportesPorCliente", "Home")" class="nav-link">
                                <span data-feather="file-text"></span>
                                - Reportes por cliente -
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ReportePorTransformador", "Home")">
                                <span data-feather="file-text"></span>
                                - Reporte por transformador -
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Reportes", "Home")">
                                <span data-feather="file-text"></span>
                                - Reporte Inteligente vs Estandar -
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
            <!-- Fin Sidebar -->

            <div class="container" style="margin-left:20px; overflow:auto;">

 
                

                <hr />
                <div class="container" style="width:760px;">
                    <div class="card-deck mb-3 text-center">


                                <div class="file-field">
                                    CARGADO CORRECTAMENTE
                                </div>

                        </div>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="container" style="width:700px;">
                    <div class="alert alert-success" role="alert">
                        <strong>@TempData["Alerta"]</strong> @TempData["Mensaje"]
                    </div>
                </div>
                

            </div>

        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
		feather.replace()
    </script>

</main>
