@model Boolean

@{
	ViewBag.Title = "Login";	
}

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="~/Content/dashboard.css" rel="stylesheet">

<main role="main" class="container" style="float:right;">
	<div class="container-fluid">
		<div class="row">
			<!-- SIDEBAR -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="@Url.Action("Cliente", "Home")" class="nav-link">
								<span data-feather="home"></span>
								Estado del Hogar
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("ConsumoPorPeriodo", "Cliente")" class="nav-link">
								<span data-feather="activity"></span>
								Consumo por Periodo
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("CargarArchivoDispositivos", "Cliente")" class="nav-link active">
								<span data-feather="file"></span>
								Cargar Archivo de Dispositivo <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Simplex", "Cliente")" class="nav-link">
								<span data-feather="clock"></span>
								Simplex
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("GestionarDispositivos", "Cliente")" class="nav-link">
								<span data-feather="monitor"></span>
								Gestionar Dispositivos
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("GestionarSensores", "Cliente")" class="nav-link">
								<span data-feather="wifi"></span>
								Gestionar Sensores
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("DatosCliente", "Cliente")" class="nav-link">
								<span data-feather="edit"></span>
								Mis Datos
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
				<h1 class="display-4">Cargar Dispositivos</h1>
				<p class="lead">Cargue sus dispositivos de forma sencilla a traves de un archivo json.</p>
			</div>

			<div class="container" style="width:760px;">
				<div class="card-deck mb-3 text-center">

					<!-- Inteligentes -->
					<div class="card mb-4 shadow-sm" style="max-width:350px;">
						<div class="card-header">
							<h4 class="my-0 font-weight-normal">Dispositivos Inteligentes</h4>
						</div>
						<div class="card-body">
							<div class="file-field">
								@using (Html.BeginForm("LoadDispositivoJson", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
								{
									<label for="upload" class="btn btn-sm btn-primary">Buscar..</label>
									<input type="file" class="text-center form-control-file custom_file" id="upload" name="user_file" style="display:none" accept=".json">
									<label for="file_default">No se ha seleccionado ningun archivo. </label>
									<label for="file_name"><b></b></label>

									<button type="submit" class="btn btn-lg btn-block btn-outline-primary">Cargar</button>
								}
							</div>
						</div>
					</div>

					<!-- Estandar -->
					<div class="card mb-4 shadow-sm" style="max-width:350px;">
						<div class="card-header">
							<h4 class="my-0 font-weight-normal">Dispositivos Estandar</h4>
						</div>
						<div class="card-body">
							<div class="file-field">
								@using (Html.BeginForm("LoadDispositivoJsone", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
								{
									<label for="upload_est" class="btn btn-sm btn-primary">Buscar..</label>
									<input type="file" class="text-center form-control-file custom_file" id="upload_est" name="user_file" style="display:none" accept=".json">
									<label for="file_default_est">No se ha seleccionado ningun archivo. </label>
									<label for="file_name_est"><b></b></label>

									<button type="submit" class="btn btn-lg btn-block btn-outline-primary">Cargar</button>
								}
							</div>
						</div>
					</div>

				</div>
			</div>

			@if (Model)
			{
				<div class="container" style="width:700px;">
					<div class="alert @TempData["MsgState"]" role="alert">
						<strong>@TempData["Alerta"]</strong> @TempData["Mensaje"]
					</div>
				</div>
			}

		</div>
	</div>
</main>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<!--FileUpload-->
	<script>
		$('#upload').change(function () {
			var filename = $('#upload').val();
			if (filename.substring(3, 11) == 'fakepath') {
				filename = filename.substring(12);
			} // For Remove fakepath
			$("label[for='file_name'] b").html(filename);
			$("label[for='file_default']").text('Selected File: ');
			if (filename == "") {
				$("label[for='file_default']").text('No File Choosen');
			}
		});
	</script>

	<script>
		$('#upload_est').change(function () {
			var filename = $('#upload_est').val();
			if (filename.substring(3, 11) == 'fakepath') {
				filename = filename.substring(12);
			} // For Remove fakepath
			$("label[for='file_name_est'] b").html(filename);
			$("label[for='file_default_est']").text('Selected File: ');
			if (filename == "") {
				$("label[for='file_default_est']").text('No File Choosen');
			}
		});
	</script>