@model tp_integrador.Models.Cliente

@{
	ViewBag.Title = "Cliente";
}

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="~/Content/dashboard.css" rel="stylesheet">

<main role="main" class="container" style="float:right;height:calc(100vh - 60px); overflow-y:auto; ">
	<div class="container-fluid">
		<div class="row">

			<!-- SIDEBAR -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="@Url.Action("Cliente", "Home")" class="nav-link active">
								<span data-feather="home"></span>
								Estado del Hogar <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("ConsumoPorPeriodo", "Cliente")" class="nav-link">
								<span data-feather="activity"></span>
								Consumo por Periodo
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("CargarArchivoDispositivos", "Cliente")" class="nav-link">
								<span data-feather="file"></span>
								Cargar Archivo de Dispositivo
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Simplex", "Cliente")" class="nav-link">
								<span data-feather="clock"></span>
								Simplex
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("GestionarDispositivos", "Cliente")" class="nav-link">
								<span data-feather="monitor"></span>
								Gestionar Dispositivos
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("GestionarSensores", "Cliente")" class="nav-link">
								<span data-feather="wifi"></span>
								Gestionar Sensores
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<div class="container" style="margin-left:20px; overflow:auto;">

				<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
					<h1 class="display-4">Bienvenido @Html.DisplayFor(model => model.nombre)!</h1>
					<p class="lead">Este es el Estado de su Hogar al momento:</p>
				</div>

				<hr />
				<div class="container" style="width:660px; margin-top:40px;">
					<div class="card-deck mb-3 text-center">

						<!-- ULTIMAS MEDICIONES -->
						<div class="container" style="width:300px;">
							<!-- CONSUMO ACTUAL -->
							<div class="card mb-4 shadow-sm" style="max-width:300px; text-align:center; height:335px;">
								<div class="card-header">
									<h4 class="my-0 font-weight-normal">Consumo Actual</h4>
								</div>
								@{var consumoactual = Model.ConsumoActual();}
								<div class="card-body">
									<h1 class="card-title pricing-card-title">@consumoactual<small class="text-muted">kw/h</small></h1>
									<ul class="list-unstyled mt-3 mb-4">
										<li>De sus Dispositivos Inteligentes</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>+ <b style="font-size:large">@Model.ConsumoEstandarDiario()</b>kw.</li>
										<li>De sus Dispositivos Estandar (Por dia)</li>
									</ul>
								</div>
							</div>
						</div>


						<!-- CONSUMO DEL PERIODO -->
						<div class="container" style="width:300px;">
							@{var periododata = Model.ConsumoDelPeriodoActual();}
							<!-- CONSUMO PERIODO -->
							<div class="card mb-4 shadow-sm" style="max-width:300px; text-align:center; height:335px;">
								<div class="card-header">
									<h4 class="my-0 font-weight-normal">Consumidos</h4>
								</div>
								<div class="card-body" ">
									<h1 class="card-title pricing-card-title"><span id="number">@String.Format("{0:0.000}", periododata.Consumo)</span><small class="text-muted">kw</small></h1>
									<ul class="list-unstyled mt-3 mb-4">
										<li>Desde el: @periododata.FechaInicio</li>
										<li>Hasta el: @periododata.FechaFin</li>
										<li>De sus Dispositivos Inteligentes</li>
										<li>&nbsp;</li>
										<li>+ <b style="font-size:large">@(Model.ConsumoEstandarDiario() * periododata.TotalDias())</b>kw.</li>
										<li>De sus Dispositivos Estandar (Por periodo)</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>

				<hr />
				<!-- ESTADO DISPOSITIVOS -->
				<h4 for="country" class="mb-3" style="margin-top:30px;">Estado de Dispositivos</h4>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Numero</th>
								<th>Tipo</th>
								<th>Estado</th>
								<th>Consumidos</th>
							</tr>
						</thead>
						<tbody>
							@{
								foreach (var item in Model.dispositivos)
								{
									var periodo = Model.PeriodoActual();
									<tr>
										<td>@Html.DisplayFor(modelItem => item.Nombre)</td>
										<td>@Html.DisplayFor(modelItem => item.Numero)</td>
										@if (item.EsInteligente)
										{
											<td>Inteligente</td>}
										else
										{
											<td>Estandar   </td>}
										@if (item.EsInteligente)
										{
											var i = (tp_integrador.Models.Inteligente)item;
											if (i.Estado == 0)
											{
												<td>Apagado    </td>}
											else if (i.Estado == 1)
											{
												<td>Encendido  </td>}
											else
											{
												<td>Modo Ahorro</td>}
										}
										else
										{
											<td>N/A</td>
										}
										@if (item.EsInteligente)
										{
											var i = (tp_integrador.Models.Inteligente)item;
											<td>@String.Format("{0:0.000}", i.ConsumoEnElPeriodo(periodo))</td>
										}
										else
										{
											<td>N/A</td>
										}
									</tr>
								}
							}
						</tbody>
					</table>
				</div>

				<hr />				
				<!-- REGLAS ACTIVAS -->
				<h4 for="country" class="mb-3" style="margin-top:30px;">Reglas Activas</h4>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>Tipo</th>
								<th>Operador</th>
								<th>Magnitud</th>
								<th>Accion</th>
								<th>Dispositivo</th>
								<th>Numero</th>
							</tr>
						</thead>
						<tbody>
							@{
								foreach (var item in Model.MisSensores())
								{
									foreach (var regla in item.Observadores)
									{
										<tr>
											<td>@Html.DisplayFor(modelRegla => regla.Detalle)</td>
											<td>@Html.DisplayFor(modelRegla => regla.Operador)</td>
											<td>@Html.DisplayFor(modelRegla => regla.Valor)</td>
											<td>@Html.DisplayFor(modelRegla => regla.Accion)</td>
											<td>@Html.DisplayFor(modelRegla => regla.Actuadores[0].Dispositivos[0].Nombre)</td>
											<td>@Html.DisplayFor(modelRegla => regla.Actuadores[0].Dispositivos[0].Numero)</td>
										</tr>
										foreach (var actua in regla.Actuadores)
										{

											foreach (var dispo in actua.Dispositivos)
											{
												if (dispo != null && !dispo.Equals(actua.Dispositivos[0]))
												{
													<tr>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td>@Html.DisplayFor(modelDispo => dispo.Nombre)</td>
														<td>@Html.DisplayFor(modelDispo => dispo.Numero)</td>
													</tr>
												}
											}
										}

									}
								}
							}
						</tbody>
					</table>
				</div>

			</div>

		</div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="~/Scripts/popper.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons"></script>
	<script>
		feather.replace()
	</script>

	<script type="text/javascript">
		var i = @Html.Raw(Json.Encode(periododata.Consumo));
		function increment() {
			i += @Html.Raw(Json.Encode((consumoactual/3600)*10));
			document.getElementById('number').innerHTML = i.toFixed(3).replace('.',',');
		}
		setInterval('increment()', 10000);
	</script>

</main>


