@model tp_integrador.Models.Usuarios

@{
	ViewBag.Title = "ConsumoPorPeriodo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="~/Content/dashboard.css" rel="stylesheet" />

<link href="~/Content/cardbox.css" />

<main role="main" class="container" style="float:right;height:calc(100vh - 60px); overflow-y:auto; ">
	<div class="container-fluid">
		<div class="row">

			<!-- SIDEBAR -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="height:auto">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="@Url.Action("Cliente", "Home")" class="nav-link">
								<span data-feather="home"></span>
								Estado del Hogar
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("ConsumoPorPeriodo", "Cliente")" class="nav-link active">
								<span data-feather="activity"></span>
								Consumo por Periodo <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("CargarDispositivo", "Cliente")" class="nav-link">
								<span data-feather="file"></span>
								Cargar Archivo de Dispositivo
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("GestionDeDispositivos", "Cliente")" class="nav-link">
								<span data-feather="clock"></span>
								Simplex
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Dashboard", "Cliente")" class="nav-link">
								<span data-feather="monitor"></span>
								Gestionar Dispositivos
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="wifi"></span>
								Gestionar Sensores
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<div class="container" style="margin-left:20px; overflow:auto;">

				<!--DASHBOARD-->
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">Consumos Mensuales</h1>
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2">
								<button class="btn btn-sm btn-outline-secondary">Share</button>
								<button class="btn btn-sm btn-outline-secondary">Export</button>
							</div>
							<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
								<span data-feather="calendar"></span>
								This week
							</button>
						</div>
					</div>

					<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
				</main>

			</div>

		</div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="~/Scripts/popper.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons"></script>
	<script>
		feather.replace()
	</script>

	<!-- Graphs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script>
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
				datasets: [{
					data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
					lineTension: 0,
					backgroundColor: 'transparent',
					borderColor: '#007bff',
					borderWidth: 4,
					pointBackgroundColor: '#007bff'
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: false
						}
					}]
				},
				legend: {
					display: false,
				}
			}
		});
	</script>

</main>

