@model tp_integrador.Models.Cliente

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<span class="label label-default">Dispositivos Encendidos: @Model.CantEncendidos()</span><br />

<span class="label label-default">Dispositivos Apagados: @Model.CantApagados()</span><br />

<span class="label label-default">Dispositivos:</span><br />
@foreach (var item in Model.dispositivos)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consumo)
        </td>
        <td>
            @if (item.EsInteligente)
    {

            <div class="btn-group">
                @using (Html.BeginForm("EncenderDispositivo", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" })){
                <input type="hidden" name="postdispositivo" value="@item.Nombre" /><button type="submit">Encender</button>}

                @using (Html.BeginForm("ApagarDispositivo", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {<input type="hidden" name="postdispositivo" value="@item.Nombre" /> <button type="submit">Apagar</button>}
            </div>
            }
        </td>
    </tr><br />
}

