@model tp_integrador.Models.Cliente

@{
	ViewBag.Title = "DatosCliente";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="~/Content/dashboard.css" rel="stylesheet" />

<main role="main" class="container" style="float:right;height:calc(100vh - 60px); overflow-y:auto; ">
	<div class="container-fluid">
		<div class="row">

			<!-- SIDEBAR -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="@Url.Action("Cliente", "Home")" class="nav-link">
								<span data-feather="home"></span>
								Estado del Hogar
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("ConsumoPorPeriodo", "Cliente")" class="nav-link">
								<span data-feather="activity"></span>
								Consumo por Periodo
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("CargarArchivoDispositivos", "Cliente")" class="nav-link">
								<span data-feather="file"></span>
								Cargar Archivo de Dispositivo
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Simplex", "Cliente")" class="nav-link">
								<span data-feather="clock"></span>
								Simplex
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("GestionarDispositivos", "Cliente")" class="nav-link">
								<span data-feather="monitor"></span>
								Gestionar Dispositivos
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("GestionarSensores", "Cliente")" class="nav-link">
								<span data-feather="wifi"></span>
								Gestionar Sensores
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("DatosCliente", "Cliente")" class="nav-link active">
								<span data-feather="edit"></span>
								Mis Datos <span class="sr-only">(current)</span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- Fin Sidebar -->

			<div class="container" style="margin-top:20px; overflow:auto;">

				<div class="container" style="width:600px;">
					<div class="card-deck mb-3 text-center">

						<!-- Alta Admin -->
						<div class="card mb-4 shadow-sm" style="max-width:600px;">
							<div class="card-header">
								<h4 class="mb3">Datos de @Html.DisplayFor(model => model.usuario)</h4>
							</div>
							<div class="card-body">
								<div class="file-field">

									<div class="form-horizontal">
										
										<div class="table-responsive">										
											<table class="table table-striped justify-content-">
												<tbody>
													<tr>
														<td><b>Nombre</b></td>
														<td>@Html.DisplayFor(model => model.nombre)</td>
														<td></td>
													</tr>
													<tr>
														<td><b>Apellido</b></td>
														<td>@Html.DisplayFor(model => model.apellido)</td>
														<td></td>
													</tr>
													<tr>
														<td><b>Domicilio</b></td>
														<td>@Html.DisplayFor(model => model.domicilio)</td>
														<td></td>
													</tr>
													<tr>
														<td><b>Documento</b></td>
														<td>@Html.Raw(Model.Documento_tipo + " " + Model.Documento_numero)</td>
														<td></td>
													</tr>
													<tr>
														<td><b>Telefono</b></td>
														<td>@Html.DisplayFor(model => model.Telefono)</td>
														<td></td>
													</tr>
													<tr>
														<td><b>Categoria</b></td>
														<td>@Html.DisplayFor(model => model.Categoria.IdCategoria)</td>
														<td></td>
													</tr>
													<tr>
														<td><b>Puntos</b></td>
														<td>@Html.DisplayFor(model => model.Puntos)</td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>																		
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container">
					<div class="row text-center">						
						<div class="col-sm-6">@Html.ActionLink("Cambiar Contraseña", "EditPasswordAdmin", null, new { @class = "btn btn-lg btn-block btn-primary col", style = "width:300px; float:left;" })</div>
					</div>
				</div>


			</div>

		</div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="~/Scripts/popper.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons"></script>
	<script>
		feather.replace()
	</script>

</main>
